@import "tailwindcss";

@theme {
  --color-primary-50: #f2f7ff;
  --color-primary-100: #e1edfe;
  --color-primary-500: #0165fa;
  --color-primary-600: #0156d5;
  --color-secondary: #ffc300;
  --color-tertiary: #fa0000;
  --color-quaternary: #ff4c00;
}

@theme inline {
  --font-sans: var(--font-poppins);
}

@layer components {
  .app-content {
    @apply w-full max-w-300 flex;
  }

  .app-content-col {
    @apply w-full max-w-300 flex flex-col;
  }

  .center {
    @apply flex justify-center items-center;
  }

  .center-col {
    @apply flex flex-col justify-center items-center;
  }
}
